<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
<style>
body { 
  background:red;
}
</style>
</head>
<body> 

  <div class="home-page">

  	<h1>Welcome to the Attack On Titan Quiz!</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. Who is the strongest and most skillful person on the Survey Corps?</p>
  		<input type="radio" name="q1" value="Mikasa Ackerman">Mikasa Ackerman<br>
  		<input type="radio" name="q1" value="Eren Yeager">Eren Yeager<br>
  		<input type="radio" name="q1" value="Annie Leohart">Annie Leohart<br>
  		<input type="radio" name="q1" value="Levi Ackerman">Levi Ackerman<br>
  	<p>2. Who is the armored titan?</p>
  		<input type="radio" name="q2" value="Bertholdt Hoover">Bertholdt Hoover<br>
  		<input type="radio" name="q2" value="Annie Leohart">Annie Leohart<br>
  		<input type="radio" name="q2" value="Reiner Braun">Reiner Braun<br>
  		<input type="radio" name="q2" value="Krista Lenz">Krista Lenz<br>
  	<p>3. Who is the real royal blood line?</p>
  		<input type="radio" name="q3" value="Blouse">Blouse<br>
  		<input type="radio" name="q3" value="Ackerman">Ackerman<br>
  		<input type="radio" name="q3" value="Reiss">Reiss<br>
  		<input type="radio" name="q3" value="Arlert">Arlert<br>
  	<p>4. Who were/are Levi's best friends?</p>
  		<input type="radio" name="q4" value="Farlan Church">Farlan Church<br>
  		<input type="radio" name="q4" value="Hange Zoe">Hange Zoe<br>
  		<input type="radio" name="q4" value="Isabel Magnolia">Isabel Magnolia<br>
  		<input type="radio" name="q4" value="Erwin Smith">Erwin Smith<br>
  	<p>5. Who gets stepped on by the female titan?</p>
  		<input type="radio" name="q5" value="Eld Jinn">Eld Jinn<br>
  		<input type="radio" name="q5" value="Oluo Bozado">Oluo Bozado<br>
  		<input type="radio" name="q5" value="Petra Ral">Petra Ral <br>
  		<input type="radio" name="q5" value="Günther Schultz">Günther Schultz<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

